body{
    background-image:Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),

    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
li a,li{
    display: inline-block;
    color: white; 
    font-size: 30px; 
    font-family: 'Courier New', Courier, monospace;     text-decoration: none;
    
    padding: 30px;
  
}

.navbar-inverse:hover .navbar-nav:hover>li:hover>a:hover {
    color:red; 
}

.container-fluid{
    background-color:black;

}

.navbar-inverse .navbar-nav>li>a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}




    
.test1{
    width: 100px;
    height: 100px;
}
h1{
    font-family: 'Courier New', Courier, monospace; 
    color: black;
    
}
h2{
    font-family: 'Courier New', Courier, monospace; 
    color: white;
}
.Navbar:hover{
    color:red; 
}
.bg-img{
background-image: url("./res/gomycode3.jpeg"); 
filter: blur(3px);
width: 100%;
height: 400px; 
}
.bg-img1{
    background-image: url("./res/gomycode3.jpeg"); 
    filter: blur(3px);
    position: relative;
  
    width: 100%;
    height: 400px; 
    }


.text{
    font-family: 'Courier New', Courier, monospace; 
    color: white;
    font-weight: bold;
    
    position: relative;
    top: 250px; 
    justify-content: center;
    left:12%;

    z-index: 2;
    width: 80%;
    
    text-align: center;
}
.button1,.button2,.button3,.button4,.button5,.button6{
    position: relative;
    /* transform: translate(-210%,260%); */
    top:-150px;
    /* text-align: center; */
}
.button1:hover,.button2:hover,.button3:hover,.button4:hover,.button5:hover,.button6:hover,.button7:hover,.button8:hover,.button9:hover{
    
    background-color: grey; 
    
}
div h1{
    font-family: 'Courier New', Courier, monospace; 
    color:white; 
    font-size: 60px; 
    text-shadow: 4px 4px black; 
}

.test3{
    font-family: 'Courier New', Courier, monospace; 
    display: block; 
    color: white; 
    text-align: center; 
}


.image1,.image2,.image3,.image4,.image5,.image6{
    display: flexbox;  
    width: 80% ; 
    height: 25% ;
    padding: 15px;
}
.imageblock1,.imageblock2,.imageblock3,.imageblock4,.imageblock5,.imageblock6{
    display: inline;
    padding: 10px; 
}
.image7,.image8,.image9{
    display: flexbox;  
    width: 80% ; 
    height: 25% ;
    padding: 15px;
}
.image7,.image8,.image9{
    display: inline;
    padding: 10px; 
}
.button7,.button8,.button9{
    position: relative;
    /* transform: translate(-210%,260%); */
    top:-150px;
    /* text-align: center; */
}





.feed{
    font-size: 300%; 
    font-family: 'Courier New', Courier, monospace; 
    color: azure; 
}
.titreC{
    font-size: 300%; 
    font-family: 'Courier New', Courier, monospace; 
    color: white; 
}
a, .view{
    font-size: 200%;
    text-decoration: none;
    color: white; 
     

}
a, .view:hover{
    color: red; 
}

a, #ex1{
    font-size: 20px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: darkcyan; 

}
.form-group{
width:15%; 

}
#usr, #email,#phone,#sel1{
    color: black ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
label{
    color: white; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fdb{
    height:34px;
}